@use "sass:color";
@use "variables";

//
// Badges
// --------------------------------------------------

.badge {
  display: inline-block;
  padding: 4px 9px 3px;
  font-size: 12px;
  line-height: 1;
  color: color.adjust(variables.$text-color, $lightness: 20%);
  background-color: color.adjust(variables.$text-color, $lightness: -20%);
  border-radius: 100px;
  cursor: pointer;

  // Inverted badges have no background.
  &.badge-inverted {
    padding: 0 5px 0 0;
    background-color: transparent;
  }
}

.badge-region {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  color: color.adjust(variables.$text-color, $lightness: 20%);
  padding: 0 5px 0 0;
  background-color: transparent;

  .icon {
    font-size: 12px;
  }

  .badge {
    margin-left: 4px;
  }
}

.table-view-cell > .badge-region {
  position: absolute;
  top: 70%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


// Badge modifiers
// --------------------------------------------------

// Main badge
.badge-primary {
  color: variables.$text-color;
  background-color: variables.$primary-color;

  &.badge-inverted {
    color: variables.$primary-color;
  }
}

// Positive badge
.badge-positive {
  color: variables.$text-color;
  background-color: variables.$positive-color;

  &.badge-inverted {
    color: variables.$positive-color;
  }
}

// Negative badge
.badge-negative {
  color: #fff;
  background-color: variables.$negative-color;

  &.badge-inverted {
    color: variables.$negative-color;
  }
}
