@use "sass:color";
@use "mixins";
@use "variables";

//
// Base styles
// --------------------------------------------------

// Use box sizing on all the things!
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

// We fix position the body and scroll `.content`.
body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: variables.$font-family-default;
  font-size: variables.$font-size-default;
  line-height: variables.$line-height-default;
  color: variables.$text-color;
  background-color: variables.$chrome-color;
  background-image: url("../../images/stressed-linen.png");
}

// Universal link styling
a {
  color: variables.$primary-color;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); // Removes the dark touch outlines on links in webkit browsers.

  &:active {
    color: color.adjust(variables.$primary-color, $lightness: -10%);
  }
}

// Wrapper to be used around all content not in .bar-title and .bar-tab
.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: variables.$default-color;
  -webkit-overflow-scrolling: touch;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../images/shattered.png");
  background-attachment: local;
}

// Hack to force all relatively and absolutely positioned elements still render while scrolling
// Note: This is a bug for "-webkit-overflow-scrolling: touch"
.content > * {
  @include mixins.transform(translateZ(0));
}

// Pad top/bottom of content so it doesn't hide behind bars.
// Note: For these to work, content must come after both bars in the markup
.bar-nav ~ .content {
  padding-top: variables.$bar-base-height;
}
.bar-header-secondary ~ .content {
  padding-top: (variables.$bar-base-height*2);
}

// Footer bar padding
.bar-footer ~ .content {
  padding-bottom: variables.$bar-base-height;
}
.bar-footer-secondary ~ .content {
  padding-bottom: (variables.$bar-base-height*2);
}

// Tab bar padding
.bar-tab ~ .content {
  padding-bottom: variables.$bar-tab-height;
}
.bar-footer-secondary-tab ~ .content {
  padding-bottom: (variables.$bar-tab-height+variables.$bar-base-height);
}

// Utility classes
.content-padded {
  margin: variables.$bar-side-spacing;
}
.text-center {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  @include mixins.clearfix();
}
