@use "sass:color";
@use "variables";

//
// Buttons
// --------------------------------------------------

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 8px 7px;
  margin-bottom: 0; // For input.btn
  font-size: variables.$button-font-size;
  font-weight: variables.$font-weight-light;
  line-height: 1;
  color: variables.$text-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: color.adjust(variables.$chrome-color, $lightness: 20%);
  border: 1px solid #ccc;
  border-radius: 3px;

  // Active & filled button styles
  &:active,
  &.active {
    color: color.adjust(
      variables.$text-color,
      $lightness: 10%
    ); // Overriding the global style for all anchors.
    background-color: color.adjust(variables.$default-color, $lightness: 10%);
  }

  // Disabled styles & filled button active styles
  &:disabled,
  &.disabled {
    opacity: 0.6;
  }

  &.small {
    padding: 3px 4px 4px;
    font-size: variables.$button-font-size-small;
  }
}

// Other button types
// --------------------------------------------------

// Primary button (Default color is blue)
.btn-primary {
  color: #fff;
  background-color: variables.$primary-color;
  border: 1px solid variables.$primary-color;

  &:active,
  &.active {
    color: #fff;
    background-color: color.adjust(variables.$primary-color, $lightness: -10%);
    border: 1px solid color.adjust(variables.$primary-color, $lightness: -10%);
  }
}

// Positive button (Default color is green)
.btn-positive {
  color: #fff;
  background-color: variables.$positive-color;
  border: 1px solid variables.$positive-color;

  &:active,
  &.active {
    color: #fff;
    background-color: color.adjust(variables.$positive-color, $lightness: -10%);
    border: 1px solid color.adjust(variables.$positive-color, $lightness: -10%);
  }
}

// Negative button (Default color is red)
.btn-negative {
  color: variables.$text-color;
  background-color: variables.$negative-color;
  border: 1px solid variables.$negative-color;

  &:active,
  &.active {
    color: variables.$text-color;
    background-color: color.adjust(variables.$negative-color, $lightness: -10%);
    border: 1px solid color.adjust(variables.$negative-color, $lightness: -10%);
  }
}

// Outlined buttons
.btn-outlined {
  background-color: #333a;

  &.btn-primary {
    color: variables.$primary-color;
  }
  &.btn-positive {
    color: variables.$positive-color;
  }
  &.btn-negative {
    color: variables.$negative-color;
  }
  // Active states
  &.btn-primary:active,
  &.btn-positive:active,
  &.btn-negative:active {
    color: color.adjust(variables.$default-color, $lightness: 10%);
  }
}

// Link button (Buttons that look like links)
.btn-link {
  padding-top: 6px;
  padding-bottom: 6px;
  color: variables.$primary-color;
  background-color: transparent;
  border: 0;

  &:active,
  &.active {
    color: color.adjust(variables.$primary-color, $lightness: -10%);
    background-color: transparent;
  }
}

// Block level buttons (full width buttons)
.btn-block {
  display: block;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
  font-size: 18px;
}

// Button overrides
// --------------------------------------------------

input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: 100%;
}

// Buttons with badges
// --------------------------------------------------

// Generic styles for all badges within default buttons
.btn .badge {
  margin: -2px -4px -2px 4px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.15);
}

// Buttons with inverted badges
.btn .badge-inverted,
.btn:active .badge-inverted {
  background-color: transparent;
}
.btn-primary:active .badge-inverted,
.btn-positive:active .badge-inverted,
.btn-negative:active .badge-inverted {
  color: #fff;
}

// Position badges within block level buttons
// Note: These are absolutely positioned so that text of button isn't "pushed" by badge and always
// stays at the center of button
.btn-block .badge {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

// Buttons with Ratchicons
// --------------------------------------------------

.btn .icon {
  font-size: inherit;
}
