@use "sass:color";
@use "variables";

//
// Cards
// --------------------------------------------------

.card {
  margin: variables.$bar-side-spacing;
  overflow: hidden;
  background-color: variables.$card-bg;
  border: variables.$border-default;
  border-radius: variables.$border-radius;
  box-shadow: inset 0px 0px 8px 2px color.adjust(variables.$card-bg, $lightness: -10%);
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../images/fabric-plaid.png");
  background-attachment: local;
}


// Cards with table-views
// --------------------------------------------------
.card .table-view {
  margin-bottom: 0;
  border-top: 0;
  border-bottom: 0;

  // Rounding first divider on carded lists and remove border on the top
  .table-view-divider:first-child {
    top: 0;
    border-top-left-radius: variables.$border-radius;
    border-top-right-radius: variables.$border-radius;
  }

  // Rounding last divider on carded table views
  .table-view-divider:last-child {
    border-bottom-left-radius: variables.$border-radius;
    border-bottom-right-radius: variables.$border-radius;
  }
}
// Remove the bottom border from last table cell
.card .table-view-cell:last-child {
  border-bottom: 0;
}
