//
// Chips
// --------------------------------------------------

.chips-list {
  
}

.chips {
  display: inline-block;
  text-align: center;
  padding: 4px 8px 4px 8px;
  margin: 2px;
  font-size: 12px;
  color: lighten($text-color, 20%);
  background-color: darken($text-color, 30%);
  cursor: pointer;
  border-radius: 100px;

  // Inverted chips have no background.
  &.chips-inverted {
    padding: 0 5px 0 0;
    background-color: transparent;
  }
}


// Chips modifiers
// --------------------------------------------------

// Main chips
.chips-primary {
  color: $text-color;
  background-color: $primary-color;

  &.chips-inverted {
    color: $primary-color;
  }
}

// Positive chips
.chips-positive {
  color: $text-color;
  background-color: $positive-color;

  &.chips-inverted {
    color: $positive-color;
  }
}

// Negative chips
.chips-negative {
  color: $text-color;
  background-color: $negative-color;

  &.chips-inverted {
    color: $negative-color;
  }
}
