@use "sass:color";
@use "variables";

//
// Chips
// --------------------------------------------------

.chips-list {
  text-align: center;
}

.chips {
  display: inline-block;
  padding: 2px 12px 2px 12px;
  margin: 2px;
  font-size: 12px;
  color: color.adjust(variables.$text-color, $lightness: 20%);
  background-color: color.adjust(variables.$text-color, $lightness: -30%);
  cursor: pointer;
  border-radius: 100px;

  // Inverted chips have no background.
  &.chips-inverted {
    padding: 0 5px 0 0;
    background-color: transparent;
  }

  &.small {
    font-size: 10px;
    padding: 0px 8px;
    margin: 1px;
  }
}

// Chips modifiers
// --------------------------------------------------

// Main chips
.chips-primary {
  color: variables.$text-color;
  background-color: variables.$primary-color;

  &.chips-inverted {
    color: variables.$primary-color;
  }
}

// Positive chips
.chips-positive {
  color: variables.$text-color;
  background-color: variables.$positive-color;

  &.chips-inverted {
    color: variables.$positive-color;
  }
}

// Negative chips
.chips-negative {
  color: variables.$text-color;
  background-color: variables.$negative-color;

  &.chips-inverted {
    color: variables.$negative-color;
  }
}