@use "sass:color";
@use "variables";

//
// Chips
// --------------------------------------------------

.info-list {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;

  .info-item {
    position: relative;
    display: inline-block;
    text-align: center;
    color: color.adjust(variables.$text-color, $lightness: 20%);
    cursor: pointer;
    vertical-align: top;
    margin: 0 0 0 6px;

    // Inverted chips have no background.
    &.info-item-inverted {
      padding: 0 5px 0 0;
      background-color: transparent;
    }

  }

}


// Chips modifiers
// --------------------------------------------------

// Main chips
.info-item-primary {
  color: variables.$text-color;
  background-color: variables.$primary-color;

  &.info-item-inverted {
    color: variables.$primary-color;
  }
}

// Positive chips
.info-item-positive {
  color: variables.$text-color;
  background-color: variables.$positive-color;

  &.info-item-inverted {
    color: variables.$positive-color;
  }
}

// Negative chips
.info-item-negative {
  color: variables.$text-color;
  background-color: variables.$negative-color;

  &.info-item-inverted {
    color: variables.$negative-color;
  }
}
