@use "sass:color";
@use "variables";

//
// Segmented controllers
// --------------------------------------------------

.segmented-control {
  position: relative;
  display: table;
  overflow: hidden;
  font-size: 12px;
  font-weight: variables.$font-weight-light;
  background-color: variables.$chrome-color;
  border: 1px solid #ccc;
  border-radius: 3px;

  // Section within controller
  .control-item {
    display: table-cell;
    width: 1%;
    padding-top: 6px;
    padding-bottom: 7px;
    overflow: hidden;
    line-height: 1;
    color: variables.$text-color;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 1px solid #ccc;

    // Remove border-left and shadow from first section
    &:first-child {
      border-left-width: 0;
    }

    // Tap state of segmented controller
    &:active {
      color: color.adjust(variables.$text-color, $lightness: 20%);
      background-color: color.adjust(variables.$default-color, $lightness: 5%)
    }

    // Selected state of segmented controller
    &.active {
      color: color.adjust(variables.$text-color, $lightness: 10%);
      background-color: color.adjust(variables.$default-color, $lightness: 15%)
    }
  }
}

// Other segmented controller types
// --------------------------------------------------

// Primary
.segmented-control-primary {
  border-color: variables.$primary-color;

  .control-item {
    color: variables.$primary-color;
    border-color: inherit;

    &:active {
      background-color: color.adjust(variables.$primary-color, $lightness: 35%);
    }
    &.active {
      color: variables.$default-color;
      background-color: variables.$primary-color;
    }
  }
}

// Positive
.segmented-control-positive {
  border-color: variables.$positive-color;

  .control-item {
    color: variables.$positive-color;
    border-color: inherit;

    &:active {
      background-color: color.adjust(variables.$positive-color, $lightness: 35%);
    }
    &.active {
      color: variables.$default-color;
      background-color: variables.$positive-color;
    }
  }
}

// Negative
.segmented-control-negative {
  border-color: variables.$negative-color;

  .control-item {
    color: variables.$negative-color;
    border-color: inherit;

    &:active {
      background-color: color.adjust(variables.$negative-color, $lightness: 35%);
    }
    &.active {
      color: variables.$default-color;
      background-color: variables.$negative-color;
    }
  }
}

// This is used to by the js to show and hide content tide to the segmented control.
.control-content {
  display: none;

  &.active {
    display: block;
  }
}
