//
// iOS theme
// Visuals and interactions in the style of iOS
//
// --------------------------------------------------

@use "sass:color";
@use "mixins.scss";
@use "variables";


// Variables
// --------------------------------------------------

// Colors
//
// Main theme colors
variables.$primary-color: #007aff;
variables.$chrome-color: rgba(247, 247, 247, 0.98);

// Action colors
variables.$default-color: #929292;
variables.$positive-color: #4cd964;
variables.$negative-color: #dd524d;
variables.$text-color: #777;

// Bars
variables.$bar-base-height: 44px;
variables.$bar-tab-height: 50px;

// iOS style transitions
variables.$timing-fuction: cubic-bezier(0.1, 0.5, 0.1, 1); // Inspired by @c2prods

// Base
// --------------------------------------------------

// Universal link styling
a {
  color: variables.$primary-color;

  &:active {
    color: color.adjust(variables.$primary-color, $lightness: -10%);
  }
}

// Content
.content {
}

// Typography
// --------------------------------------------------

.h5,
h5,
.h6,
h6,
p {
  color: #8f8f94;
}
.h5,
h5,
.h6,
h6 {
  font-weight: normal;
  text-transform: uppercase;
}

// Buttons
// --------------------------------------------------

.btn {
  color: variables.$default-color;
  background-color: variables.$chrome-color;
  border: 1px solid variables.$default-color;
  @include mixins.transition(all);
  @include mixins.transition-duration(0.2s);
  @include mixins.transition-timing-function(linear);

  // Active & filled button styles
  &:active,
  &.active {
    color: #fff;
    background-color: variables.$default-color;
  }
}

// Other button types
// --------------------------------------------------

// Primary button (Default color is blue)
.btn-primary {
  color: #fff;
  background-color: variables.$primary-color;
  border: 1px solid variables.$primary-color;

  &:active,
  &.active {
    background-color: color.adjust(variables.$primary-color, $lightness: -10%);
    border: 1px solid color.adjust(variables.$primary-color, $lightness: -10%);
  }
}

// Positive button (Default color is green)
.btn-positive {
  color: #fff;
  background-color: variables.$positive-color;
  border: 1px solid variables.$positive-color;

  &:active,
  &.active {
    background-color: color.adjust(variables.$positive-color, $lightness: -10%);
    border: 1px solid color.adjust(variables.$positive-color, $lightness: -10%);
  }
}

// Negative button (Default color is red)
.btn-negative {
  color: #fff;
  background-color: variables.$negative-color;
  border: 1px solid variables.$negative-color;

  &:active,
  &.active {
    background-color: color.adjust(variables.$negative-color, $lightness: -10%);
    border: 1px solid color.adjust(variables.$negative-color, $lightness: -10%);
  }
}

// Outlined buttons
.btn-outlined {
  background-color: transparent;

  &.btn-primary {
    color: variables.$primary-color;
  }
  &.btn-positive {
    color: variables.$positive-color;
  }
  &.btn-negative {
    color: variables.$negative-color;
  }
  // Active states
  &.btn-primary:active,
  &.btn-positive:active,
  &.btn-negative:active {
    color: #fff;
  }
}

// Link button (Buttons that look like links)
.btn-link {
  color: variables.$primary-color;
  background-color: transparent;
  border: none;

  &:active,
  &.active {
    color: color.adjust(variables.$primary-color, $lightness: -10%);
    background-color: transparent;
  }
}

// Buttons with badges
.btn {
  .badge {
    background-color: rgba(0, 0, 0, 0.15);

    &.badge-inverted {
      background-color: transparent;
    }
  }

  // Active states
  &:active .badge {
    color: #fff;
  }
}

// Bars
// --------------------------------------------------

// Default bar
.bar {
  border-bottom: 0;
  @include mixins.box-shadow(0 0 1px rgba(0, 0, 0, 0.85));

  // Modifier class to dock any bar below .bar-nav
  &.bar-header-secondary {
    top: variables.$bar-base-height;
  }

  // Modifier class to dock any bar above a standard bar
  &.bar-footer-secondary {
    bottom: variables.$bar-base-height;
  }

  // Modifier class to dock any bar above a .bar-tab
  &.bar-footer-secondary-tab {
    bottom: variables.$bar-tab-height;
  }
  // Give the footers the correct border
  &.bar-footer,
  &.bar-footer-secondary,
  &.bar-footer-secondary-tab {
    border-top: 0;
  }
}

// Tab bar
.bar-tab {
  border-top: 0;
}
.tab-item {
  color: #929292;

  // Active states for the tab bar
  &.active,
  &:active {
    color: variables.$primary-color;
  }
}

// Nav bars with buttons
.bar-nav {
  // Link buttons in nav bars
  .btn-link {
    color: variables.$primary-color;

    &:active {
      color: variables.$primary-color;
      opacity: 0.6;
    }
  }
}

// Badges
// --------------------------------------------------

.badge {
  &.badge-inverted {
    color: variables.$default-color;
    background-color: transparent;
  }
}

// Badge modifiers
//
// Main badge
.badge-primary {
  color: #fff;
  background-color: variables.$primary-color;

  &.badge-inverted {
    color: variables.$primary-color;
    background-color: transparent;
  }
}

// Positive badge
.badge-positive {
  color: variables.$text-color;
  background-color: variables.$positive-color;

  &.badge-inverted {
    color: variables.$positive-color;
    background-color: transparent;
  }
}

// Negative badge
.badge-negative {
  color: variables.$text-color;
  background-color: variables.$negative-color;

  &.badge-inverted {
    color: variables.$negative-color;
    background-color: transparent;
  }
}

// Cards
// --------------------------------------------------

// Cards with table-views
.card .table-view {
  background-image: none;
}
.card .table-view-cell:last-child {
  background-image: none;
}

// Table views
// --------------------------------------------------

.table-view {
  border-top: 0;
  border-bottom: 0;
  @include mixins.hairline(double, #c8c7cc, 0); // Double grey border.

  .table-view-cell {
    border-bottom: 0;
    @include mixins.hairline(
      single,
      #c8c7cc,
      15px
    ); // Single grey border with 15px offset.

    // Remove the border from the last table view item
    &:last-child {
      background-image: none;
    }
    > a:not(.btn):active {
      color: variables.$text-color;
    }
  }

  // Table view dividers
  .table-view-divider {
    border-top: 0;
    border-bottom: 0;
    @include mixins.hairline(
      double,
      #c8c7cc,
      0
    ); // Double (top and bottom) grey border with no offset.
  }
}

// Forms
// --------------------------------------------------

select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
.input-group {
  height: 40px;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

// Rounded search input
input[type="search"] {
  height: 34px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 6px;
}
input[type="search"]:focus {
  text-align: left;
}
select,
textarea,
.input-group {
  height: auto;
}

// Input groups (cluster multiple inputs together into a single group)
// -------------------------------------------------------------------
.input-group {
  padding: 0;
  border: 0;
  @include mixins.hairline(double, #c8c7cc, 0); // Double grey border.
}
.input-group input {
  border: 0;
  @include mixins.hairline(single, #c8c7cc, 15px);
}
// Remove bottom border on last input to avoid double bottom border
.input-group input:last-child {
  background-image: none;
}

// Input groups with labels
// --------------------------------------------------

// To use labels with input groups, wrap a label and an input in an .input-row
.input-row {
  border-bottom: 0;
  @include mixins.hairline(
    single,
    #c8c7cc,
    15px
  ); // Single grey border with a 15px offset.
}
// Remove bottom border on last input-row to avoid double bottom border
.input-row:last-child,
.input-row label + input {
  background-image: none;
}

// Segmented controls
// --------------------------------------------------

.segmented-control {
  background-color: transparent;
  border: 1px solid variables.$default-color;

  .control-item {
    color: variables.$default-color;
    border-color: variables.$default-color;
    @include mixins.transition(background-color 0.1s linear);

    &:active {
      background-color: color.adjust(variables.$default-color, $lightness: 35%);
    }
    &.active {
      color: variables.$text-color;
      background-color: variables.$default-color;
    }
  }
}

// Other segmented controller types
//
// Primary
.segmented-control-primary {
  border: 1px solid variables.$primary-color;

  .control-item {
    color: variables.$primary-color;
    border-color: inherit;

    &:active {
      background-color: color.adjust(variables.$primary-color, $lightness: 35%);
    }
    &.active {
      color: #fff;
      background-color: variables.$primary-color;
    }
  }
}

// Positive
.segmented-control-positive {
  border: 1px solid variables.$positive-color;

  .control-item {
    color: variables.$positive-color;
    border-color: inherit;

    &:active {
      background-color: color.adjust(variables.$positive-color, $lightness: 35%);
    }
    &.active {
      color: #fff;
      background-color: variables.$positive-color;
    }
  }
}

// Negative
.segmented-control-negative {
  border: 1px solid variables.$negative-color;

  .control-item {
    color: variables.$negative-color;
    border-color: inherit;

    &:active {
      background-color: color.adjust(variables.$negative-color, $lightness: 35%);
    }
    &.active {
      color: #fff;
      background-color: variables.$negative-color;
    }
  }
}

// Popovers
// --------------------------------------------------

.popover {
  border-radius: 12px;
  @include mixins.transition(
    -webkit-transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out
  );

  &:before {
    border-bottom: 15px solid variables.$chrome-color;
  }
}

// Popovers with `bar`
.popover .bar {
  @include mixins.box-shadow(none);
}

// Popovers with `bar-nav`
.popover .bar-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

// Popovers with `table-views`
.popover .table-view {
  background-image: none;
  border-radius: 12px;
}

// Modal styles
// --------------------------------------------------

.modal {
  @include mixins.transition-timing-function(variables.$timing-fuction);

  // Active modal
  &.active {
    @include mixins.transition-timing-function(variables.$timing-fuction);
  }
}

// Toggles styles
// --------------------------------------------------
.toggle {
  width: 47px;
  border: 2px solid #e6e6e6;
  @include mixins.box-shadow(inset 0 0 0 0 #e1e1e1);
  @include mixins.transition-property(box-shadow, border);
  @include mixins.transition-duration(0.2s);

  // Sliding handle
  .toggle-handle {
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition-property: -webkit-transform, border, width;
    -moz-transition-property: -moz-transform, border, width;
    transition-property: transform, border, width;
    @include mixins.box-shadow(0 3px 3px rgba(0, 0, 0, 0.08));
  }
  &:before {
    display: none;
  }
  // Active state for toggle
  &.active {
    background-color: transparent;
    border: 2px solid variables.$positive-color;
    @include mixins.box-shadow(inset 0 0 0 13px variables.$positive-color);

    .toggle-handle {
      @include mixins.transform(translate3d(17px, 0, 0));
    }

    .toggle-handle {
      border-color: variables.$positive-color;
    }
  }
}

// Push styles
// --------------------------------------------------
.content {
  // Fade animation
  &.fade {
    @include mixins.transition(opacity 0.2s ease-in-out);
  }
  // Slide animation
  &.sliding {
    @include mixins.transition-timing-function(variables.$timing-fuction);

    // Adding the overlay
    &.sliding-in,
    &.right:not([class*="sliding-in"]) {
      @include mixins.animation-name(fadeOverlay);
      @include mixins.animation-duration(0.4s);
    }

    &.right:not([class*="sliding-in"]) {
      @include mixins.animation-direction(reverse);
    }

    &.left {
      @include mixins.transform(
        translate3d(-20%, 0, 0)
      ); // Creates the parallax effect
    }
  }
}

.meter {
  position: absolute;
  height: 4px;
  position: relative;
  background: #555;
  padding: 0;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.orange > span {
  background-color: #f1a165;
  background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

.meter > span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.meter > span::after,
.animate > span > span {
  animation: move 2s linear infinite;
}

.action {
  position: absolute;
  top: 25%;
  bottom: 25%;
  display: inline-block;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

// Overlay animation for the slide transition
@at-root {
  @-webkit-keyframes fadeOverlay {
    from {
      @include mixins.box-shadow(
        0 0 10px rgba(0, 0, 0, 0),
        -320px 0 0 rgba(0, 0, 0, 0)
      );
    }
    to {
      @include mixins.box-shadow(
        0 0 10px rgba(0, 0, 0, 0.3),
        -320px 0 0 rgba(0, 0, 0, 0.1)
      );
    }
  }
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.slide {
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: 100vw;
}

.inner-slide {
  height: 100vh;
  overflow-y: auto;
}
.slide-content {
  padding-bottom: 200px;
}
