//
// Variables
// --------------------------------------------------


// Type
// --------------------------------------------------
$font-family-default: "Lucida Sans Unicode", "Lucida Grande", sans-serif !default;
$font-size-default: 17px !default;
$font-weight: 500 !default;
$font-weight-light: 400 !default;
$line-height-default: 21px !default;


// Colors
// --------------------------------------------------

// Main theme colors
$text-color: #999;
$primary-color: #409b9e !default;
$chrome-color:  #242424 !default;

// Action colors
$default-color:  #11111166 !default;
$bar-color: #242424 !default;
$positive-color: #422944 !default;
$negative-color: #d9534f !default;

// Bars
// --------------------------------------------------

$bar-base-height:  44px !default;
$bar-tab-height:   50px !default;
$bar-side-spacing: 10px !default;


// Cards
// --------------------------------------------------

$card-bg: #00000022 !default;


// Buttons
// --------------------------------------------------

$button-font-size: 12px !default;


// Transitions
// --------------------------------------------------

$timing-fuction: cubic-bezier(.1,.5,.1,1) !default; // Inspired by @c2prods


// Borders
// --------------------------------------------------

$border-default-width: 1px;
$border-default: $border-default-width solid #666;
$border-radius: 6px !default;
